{% extends 'base.html' %} {% load static %} {% block title %} About Us - Zedbuzzers {% endblock %} {% block content %}
<!-- <div class="main"> -->
<div class="other_pages">
    <div class="other_pages_content_pp">
        <div class="m_c">

            <div>
                <h2>Welcome to our website <b>Zedbuzzers.com</b></h2>
                <p><b>Zedbuzzers.com</b>, is a professional platform where we provide informative content like Music, Music Videos, News etc. We hope you like all the contents provided by us.</p>
                <p>If you have questions or maybe you want more information about our website, do not hesitate to Contact through email at <b>godwinbanda19@gmail.com or call us on 0973848066</b></p>
                <h2>About <b>Zedbuzzers.com</b></h2>
                <p> <b>Zedbuzzers.com</b>was found in 2021 by<a href="https://www.facebook.com/Godwinbanda4/" target="_blank" style="color:steelblue"> Godwin</a>. We hope you enjoy Our services as much as we enjoy offering them to you. Sincerely,<a href="https://www.facebook.com/Godwinbanda4/"
                        target="_blank" style="color:steelblue"> Godwin</a>.</p>
                <p>We are a leading online Entertainment platform, providing latest content so you can not miss out anything related to entertainment. If you have any questions or queries regarding our website, Please don't hesitate to contact us.</p>
                <h2>For content upload contact:</h2>
                <p>Call/Whatsapp: 0973848066</p>
                <p>Email address: godwinbanda19@gmail.com</p>
                <p>
                    <a href="https://www.facebook.com/Godwinbanda4/" target="_blank" style="color:steelblue">Facebook</a>
                </p>
            </div>
            <!-- </div> -->
        </div>
    </div>

</div>
{% endblock %}