{% extends 'base.html' %} {% load static %} {% block title %} About Us - Zedbuzzers {% endblock %} {% block content %}
<div class="main">
    <div class="other_pages">
        <div class="other_pages_content_pp">
            <div class="m_c">
                <div>
                    <h1 style="text-align: left;"><span style="font-size: x-large;"><u>A</u><u>bout Us !</u></span></h1>

                    <p style="text-align: center;"><br />
                        <p style="font-size: 14px;">zedbuzzers is a Professional music Platform. Here we will provide you only interesting content, which you will like very much.<br />
                            <p style="text-align: center;"><br />
                                <p style="font-size: 14px;">We're dedicated to providing you the best of music, with a focus on dependability and music, news , vdeos and alot more. Our About-us page was created with the help of the <a href="https://techbuddies.in/">About-us Generator</a><br
                                    /><br />
                                    <p style="font-size: 14px;">We're working to turn our passion for music into a booming online website. We hope you enjoy our music as much as we enjoy offering them to you.</p>
                </div>

                <h1 style="font-size: 25px; margin-top:5%;">For music upload/promotion:</h1>
                <p style="font-size: 14px;">Call or Whatsapp us on +260973848066</p>
                <p style="font-size: 14px;"> Instagram: @zedbuzzers</p>
                <p style="font-size: 14px;">Facebook: @zedbuzzers</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}