{% extends 'base.html'%} {% load static %} {% block title %} {{ categories|capfirst }} | Get Most Recent {{ categories|capfirst }} - Zedbuzzers {% endblock %} {% block content %}
<!-- Main Content -->
<div class="main">
    <div class="main_container ">
        <div class="main_content ">
            <div class="block1 ">
                <h2>Latest {{ categories }}</h2>
                <div class="block1_container ">
                    {% for post in category_posts|slice:'35' %}
                    <div class="card_wrapper">
                        <div class="block1_content ">
                            <a href="{{ post.get_absolute_url }}"><img src="{{post.image.url}} " alt=" "></a>
                        </div>
                        <div class="text ">
                            <h1 class="name"><a href="{{ post.get_absolute_url }}">{{ post.name|capfirst }} - {{ post.title|capfirst }}</a></h1>
                            <p> <i class="fas fa-tags "></i> {{post.category}}</p>
                            <p>{{ post.description|truncatewords:10 }}</p>
                            <small><i class="far fa-clock"></i> {{ post.time_stamp|timesince }} ago - {{post.posted_by}}.</small>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

            <div class="block2_wrapper">
                <div class="content__">
                    <form action="{% url 'search' %}" method="get">
                        <div class="search2_wr"></div>
                        <div class="search2">
                            <input type="text" name="search" placeholder="Search..." required>
                            <a href=""><button> <i class="fas fa-search"></i> </button> </a>
                        </div>
                    </form>
                </div>
                <div class="details_ads_container">
                    <div class="fb">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fzedbuzzers&tabs=timeline&width=310px&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" style="border:none;overflow:hidden"
                            scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                    <h2>advertisements</h2>
                    {% for ad in ads|slice:'2' %}
                    <div class="details_ads_block">
                        <video playsinline autoplay muted loop>
                            <source src="{{ ad.ad_file.url }}" type="video/mp4">
                        </video>
                    </div>
                    {% endfor %}
                </div>
                <div class="block2 ">
                    <h2>Trending {{ categories }}</h2>
                    {% for post in category_trending_posts|slice:'10' %}
                    <div class="block2_container">
                        <div class="card_wrapper_2">

                            <div class="block2_content ">
                                <a href="{{ post.get_absolute_url }}"><img src="{{post.image.url}} " alt=" "></a>
                            </div>
                            <div class="text2 ">
                                <h1 class="name "><a href="{{ post.get_absolute_url }}">{{ post.name|capfirst }} - {{ post.title|capfirst }}</a></h1>
                                <p><i class="fas fa-tags "></i> {{post.category}}</p>
                                <p>{{ post.description|truncatewords:10 }}</p>
                                <small><i class="far fa-clock"></i> {{ post.time_stamp|timesince }} ago - {{post.posted_by}}.</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="details_ads_container">
                    <h2>advertisements</h2>
                    {% for ad in ads|slice:'1' %}
                    <div class="details_ads_block">
                        <img src="{{ ad.ad_file.url }}" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'pagination.html' %} {% endblock %}